[submodule "parseclj"]
	path = parseclj
	url = https://github.com/lambdaisland/parseclj
	branch = parseclj-lex-character-fix
[submodule "unrepl"]
	path = unrepl
	url = https://github.com/Unrepl/unrepl.git
