;; Session Action extensions included in `blob.clj`

{:unrepl.el/doc (clojure.repl/doc #unrepl/param :unrepl.el/symbol)
 :unrepl.el/load-file (unrepl-el.tools.load-file/load-file-code
                       #unrepl/param :unrepl.el/file
                       #unrepl/param :unrepl.el/file-path
                       #unrepl/param :unrepl.el/file-name)
 :unrepl.el/complete (unrepl-el.tools.completion/complete
                      #unrepl/param :unrepl.el/prefix
                      #unrepl/param :unrepl.el/ns
                      #unrepl/param :unrepl.el/context)}
