;; Session Action extensions included in `blob.clj`

{:spiral/doc (clojure.repl/doc #unrepl/param :spiral/symbol)
 :spiral/load-file (spiral.tools.load-file/load-file-code
                    #unrepl/param :spiral/file
                    #unrepl/param :spiral/file-path
                    #unrepl/param :spiral/file-name)
 :spiral/complete (spiral.tools.completion/complete
                   #unrepl/param :spiral/prefix
                   #unrepl/param :spiral/ns
                   #unrepl/param :spiral/context)}
